.List {
    position: relative;
    margin: 40px  0 40px 380px;

    @media (max-width: 768px) {
        margin: 20px;
    }
}



.Experiences {
    span:not(:last-child):after {
        content: ',';
    }

    span:last-child:after {
        content: '.';
    }
}

.Subtitle {
    font-weight: bold;
}

.User {
    width: 600px;
    height: 700px;
    position: relative;
   
    @media (max-width: 768px) {
        width: 420px;
        height: 500px;
    }
    
    @media (max-width: 480px) {
        width: 370px;
        height: 500px;
    }

    & img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    
}